<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976239950357-i2567mtb4c9i9cr1dsimqpq5qvh91n1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976239950357-i2567mtb4c9i9cr1dsimqpq5qvh91n1e</string>
	<key>API_KEY</key>
	<string>AIzaSyDP-9l0qBS0jOgGh1LZZZj8XY4IZoPa9uw</string>
	<key>GCM_SENDER_ID</key>
	<string>976239950357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flivery.driver</string>
	<key>PROJECT_ID</key>
	<string>flivery</string>
	<key>STORAGE_BUCKET</key>
	<string>flivery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976239950357:ios:e4192adfbbb1d969</string>
	<key>DATABASE_URL</key>
	<string>https://flivery.firebaseio.com</string>
</dict>
</plist>